{
  "openapi": "3.0.1",
  "info": {
    "title": "GO1 API",
    "description": "\nGO1 API has been built to make it easy to integrate GO1 with external systems.\n\nAll endpoints are only accessible via https and are located at `api.go1.com`.\n\nGO1 supports users belonging to one or more portals. This API only supports accessing data from one portal at a time. If you need to retrieve data from multiple portals you will need to authenticate with each portal and separately request the data.\n\n# Authentication\nGO1 uses the standard OAuth 2.0 protocol to provide authentication and authorization. Check out our [Authentication & Authorization Guide](https://www.go1.com/en-au/developers/customers/concepts/authentication-and-authorization) if you want to learn more about OAuth 2.0.\nPlease note that the OAuth 2.0 servers are located at **https://auth.go1.com** instead. Check out the [Auth API Reference](https://www.go1.com/developers/api/reference/auth).\n\n<SecurityDefinitions />\n",
    "termsOfService": "https://www.go1.com/terms/user-terms",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.go1.com"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Gets details about the portal you are requesting for. E.g. Number of users in plan, URL, active user count."
    },
    {
      "name": "Award",
      "description": "Allows creation of awards in a portal."
    },
    {
      "name": "Collections",
      "description": "Allows management of the default collection. The default collection is a subset of portal content which can be curated by Admins as desired. There is only one such collection per portal currently."
    },
    {
      "name": "Configuration"
    },
    {
      "name": "Enrollments",
      "description": "Allows operators to fetch or create enrolments. Note that you may fetch enrolments for a portal, or you can pass a userid to fetch enrolments for a particular user(s)."
    },
    {
      "name": "Learning Activity",
      "description": "Allows operators to fetch their own SCORM request payloads by `enrollment-id`."
    },
    {
      "name": "Learning Content",
      "description": "Allows the operator to retrieve content from our Explore service, which essentially contains all the content for the portal. This includes Premium, customer-created content as well as Marketplace content. Using the parameter subscribe=true filters out “Marketplace”, which is recommended."
    },
    {
      "name": "Users",
      "description": "Allows operators to retrieve or manage user accounts and associated details."
    },
    {
      "name": "User Groups",
      "description": "Allows management of User Group."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are also available from the GO1 product to enable your application to catch and receive updates regarding enrolments, content and users.\n\n\n## user_create event\n\nThe `user_create` event is triggered whenever a new user is created within a Go1 portal.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookUserCreatePayload\" />\n\n## user_update event\n\nThe `user_update` event is triggered whenever an user is updated in Go1.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookUserUpdatePayload\" />\n\n## user_delete event\n\nThe `user_delete` event is triggered whenever an user is deleted in Go1.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookUserDeletePayload\" />\n\n## enrolment_create event\n\nThe `enrolment_create` event is triggered whenever a user is enrolled in a learning object. A user can be enrolled in a learning object themselves by simply starting a new course or learning resource. Or, they could be enrolled by another actor, for example by an Admin or Manager user in the Go1 platform.\n\nThe enrolment actions mentioned above will trigger a payload with the details of the user and the learning they are enrolled into, with the learning status as `in-progress`.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookEnrolmentCreatePayload\" />\n\n## enrolment_update event\n\nThe `enrolment_update` event will trigger in two different circumstances as described below:\n\n- (1) Whenever a user completes a learning object. In other words, the event will fire when a user's enrolment status in a learning object changes from `in-progress` to `complete`.\n- (2) Whenever a user makes notable progress within a learning object, or in other words, when a users enrolment details change but the enrolment is still in an `in-progress` state.\n\nThe second scenario does not occur for all learning object types, there is only certain content that will trigger the enrolment_update payload with an `in-progress` status. The most common scenario is where the learning object is a long-form course, with multiple child items such as assessments that the user completes at different stages.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookEnrolmentUpdatePayload\" />\n\n## enrolment_delete event\n\nThe `enrolment_delete` event is triggered whenever an enrolment is deleted. Enrolments can only be deleted by an administrator user within a Go1 portal.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookEnrolmentDeletePayload\" />\n\n## lo_create event\n\nThe `lo_create` event is triggered whenever a learning object is created in Go1.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookLOCreatePayload\" />\n\n## lo_update event\n\nThe `lo_update` event is triggered whenever a learning object is updated in Go1.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookLOUpdatePayload\" />\n\n## lo_delete event\n\nThe `lo_delete` event is triggered whenever a learning object is deleted in Go1.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookLODeletePayload\" />\n\n## content_decommission event\n\nThe `content_decommission` event is triggered when the Go1 Content Team manually flags content from the Go1 library for decommissioning. This often occurs when our content providers choose to retire or replace old content.\n\nWhen content is flagged for decommissioning, a payload will be sent containing the ID of the content that has been flagged for decommissioning (see example payload below).\n\nAny content that is flagged for decommissioning will be archived (removed) from the Go1 Library after a minimum of 60 days.\n\nNote, during the 60 days, access to decommissioned content will be removed immediately for any new users who try to access the content. Users who are already enrolled in the content will still be able to access and complete the learning within the 60 day period - after which the content will be archived.\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookContentDecommissionPayload\" />\n\n## content_update event\n\nThe `content_update` event is triggered whenever content that you can see within your Go1 portal changes. For example, the following actions will trigger this payload:\n\n- new content is added by Go1\n- content is removed by Go1\n- content has been changed/edited by Go1\n\nWhenever one of the above triggers occur, the webhook will fire and contain the `lo-id` of the updated content only. The receiver must work out what actually happened to each learning object (LO).\n\nTo do this, you could query the LO via a GET request to [Get learning object details](#operation/getLearningObjectDetails) and then determine your action based on the response from the API. Your actions could be one of the following:\n\n- if the LO is there, and previously did not exist= add the content\n- if the LO returns a 404 = deleted the content\n- if the LO is there, and previous existed = update the content\n\n<SchemaDefinition schemaRef=\"#/components/schemas/WebhookContentUpdatePayload\" />\n"
    },
    {
      "name": "Onboarding",
      "description": "Allows the creation of a new customer portal and provision some admin user accounts at the same time, as desired."
    },
    {
      "name": "Data Mapping",
      "description": "Allows operators to retrieve or manage data mapping and associated details."
    }
  ],
  "paths": {
    "/v2/account": {
      "get": {
        "tags": ["Account"],
        "summary": "Get portal details",
        "description": "Detailed information about the portal the token is connected to. Including information about features activated and the billing plan.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["account.read"]
          }
        ]
      }
    },
    "/v2/award": {
      "post": {
        "tags": ["Award"],
        "summary": "Add awards to a portal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwardCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The award was created and added to the portal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputErrorVerbose"
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/award/{awardId}": {
      "get": {
        "tags": ["Award"],
        "summary": "Loads an award from the portal",
        "parameters": [
          {
            "name": "awardId",
            "in": "path",
            "description": "the id of the award to load",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The award object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardLoadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputErrorVerbose"
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Award not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/collections/{collection-id}/items/add": {
      "post": {
        "tags": ["Collections"],
        "summary": "Add items to a collection",
        "parameters": [
          {
            "name": "collection-id",
            "in": "path",
            "description": "The collection identifier number, or the string `default`.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCollectionItems"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "Items added to collection",
            "content": {}
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "406": {
            "description": "The number of items in the collection exceeds the limit.",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/collections/{collection-id}/items/remove": {
      "post": {
        "tags": ["Collections"],
        "summary": "Remove items from a collection",
        "parameters": [
          {
            "name": "collection-id",
            "in": "path",
            "description": "The collection identifier number, or the string `default`.\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCollectionItems"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "Items removed from collection",
            "content": {}
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/configuration": {
      "get": {
        "tags": ["Configuration"],
        "summary": "Get portal configuration",
        "description": "Gets the key value configuration pairs for a portal.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["portal.read"]
          }
        ]
      },
      "put": {
        "tags": ["Configuration"],
        "summary": "Modify portal configuration",
        "description": "Creates or updates the key value configuration pairs as sent in the request body.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalConfiguration"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["portal.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/learning-activity": {
      "get": {
        "tags": ["Learning Activity"],
        "summary": "Fetch a SCORM request payload (Beta)",
        "description": "`BETA` \n\nFetch the raw SCORM request payload associated with any of your enrollments.\n\nThe payload includes everything supplied in the original SCORM request.",
        "parameters": [
          {
            "name": "enrollment-id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to start paging from. Default value for offset is 0.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return. Maximum value is 50, default value is 50. Each endpoint has a default limit where applicable, so passing in a value is recommended.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Learning activities result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningActivityResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.read"]
          }
        ]
      }
    },
    "/v2/competency/related-roles": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Fetch related roles (Experimental)",
        "description": "Note: This endpoint is still in an experimental phase, please contact support first if you want to use it! Returns roles in the GO1 system which are similar to the one provided.",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Related roles result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolesResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/competency/roles": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Endpoint to search for (Experimental)",
        "description": "Note: This endpoint is still in an experimental phase, please contact support first if you want to use it! Returns roles based on role parameter for autocomplete or based on skill parameter.",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skill",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Roles result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RolesResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/competency/skills": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Endpoint to search for skills (Experimental)",
        "description": "Note: This endpoint is still in an experimental phase, please contact support first if you want to use it! Returns roles based on skill parameter for autocomplete or based on role parameter.",
        "parameters": [
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skill",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Skills result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkillsResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/content/links": {
      "post": {
        "tags": ["Learning Content"],
        "summary": "Create a new link",
        "description": "Creates a new standalone `link` type learning item.",
        "requestBody": {
          "description": "Link to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new link created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["lo.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/content/manual": {
      "post": {
        "tags": ["Learning Content"],
        "summary": "Create a new manual learning item",
        "description": "Creates a new standalone `manual` type learning item.",
        "requestBody": {
          "description": "Manual to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManualCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new manual created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Manual"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2": ["lo.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/enrollments": {
      "get": {
        "tags": ["Enrollments"],
        "summary": "List enrollments",
        "description": "Gets a list of enrollments in the portal.\n\nNote: If the `user_id` parameter is not present, the authenticated user must be a portal administrator.\n",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to start paging from. Offset + limit must not exceed 10,000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return. Maximum value is 50. Each endpoint has a default limit where applicable, so passing in\na value is recommended.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Request additional data in the response.\n\nFormat: `include=value[,value...]`\n\n#### Example\n* `include=lo` will return additional data about the learning object the user (was) enrolled in\n",
            "schema": {
              "type": "string",
              "enum": ["lo"]
            }
          },
          {
            "name": "lo_ids",
            "in": "query",
            "description": "Filter by learning object ID(s).\n\nFormat: `lo_ids=value[,value...]`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Fiter by one or multiple enrollment statuses.\n\nFormat: `status=value[,value...]`\n\n#### Examples\n* `status=completed` will only return completed enrollments\n* `status=not-started,in-progress` will only return enrollments that either have not been started or are in progress\n",
            "schema": {
              "type": "string",
              "enum": ["completed", "in-progress", "not-started", "assigned"]
            }
          },
          {
            "name": "updated",
            "in": "query",
            "description": "Filter by changed timestamp so that only enrolments that are greater than or equal to are retrieved.\n\nExample: `1531785600`\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID.\nIf this parameter is not present, the authenticated user must be a portal administrator.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "exclude_child_enrollments",
            "in": "query",
            "description": "Filter by excluding child enrollments.\n\nAvailable values:\n* `true`: Only return top level enrollments.\n* `false` or omitted: Return enrollments without filtering out child enrollments.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "utm_source",
            "in": "query",
            "description": "Filter by the source of where the enrolment was created.\n\nExample: `msteams`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "utm_content",
            "in": "query",
            "description": "Filter by the source content related to the creation of the enrollment.\n\nExample: `External_ID`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "utm_medium",
            "in": "query",
            "description": "Filter by the medium related to the creation of the enrollment.\n\nExample: `desktop`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "utm_campaign",
            "in": "query",
            "description": "Filter by the campaign id related to the creation of the enrollment.\n\nExample: `SF-xxxxxxxx`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scroll",
            "in": "query",
            "description": "Enables a 5-minute window to iterate over the result set. Use this instead of `offset` when retrieving large data sets.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scrollId",
            "in": "query",
            "description": "A scroll ID returned by a previous request.\nTo use this, first send a request with `scroll=true`, and save the value of the `_scroll_id` property from the response.\nTo iterate, send `scroll=true` and `scrollId` with this value for each subsequent request.\nExtends the window by another minute.\n\nWill return an empty result set if the window has expired or a wrong scroll ID is passed in.\n\nAggregated data (facets) will not be included.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.read"]
          }
        ]
      },
      "post": {
        "tags": ["Enrollments"],
        "summary": "Create a new enrollment",
        "description": "Creates a new enrollment given the user and learning object id.",
        "operationId": "addEnrollment",
        "requestBody": {
          "description": "Enrollment to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A new enrollment has been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentCreateResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid enrollment supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/enrollment-aggregates": {
      "get": {
        "tags": ["Enrollments"],
        "summary": "Get enrollment count of learning objects",
        "description": "Get learning objects which have enrollment numbers equal or larger than the provided parameter. Or get enrollment count for the learning object ids provided. At least one of the two parameter needs to be supplied. This endpoint is only available for users with administrator permissions.",
        "parameters": [
          {
            "name": "min_enrollment_count",
            "in": "query",
            "description": "The minimum enrollment count a learning object needs to have",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lo_ids[]",
            "in": "query",
            "description": "Learning object IDs.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The enrollment count object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrollmentCountResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid min_enrollment_count or lo_ids parameter supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.read"]
          }
        ]
      }
    },
    "/v2/enrollments/award": {
      "post": {
        "tags": ["Enrollments"],
        "summary": "Create a new award enrollment",
        "description": "Creates a new enrollment given the user and learning object id.",
        "requestBody": {
          "description": "Enrollment to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwardEnrollmentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A new enrollment has been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwardEnrollmentCreateResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid enrollment supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/enrollments/{enrollment-id}": {
      "get": {
        "tags": ["Enrollments"],
        "summary": "Get enrollment details",
        "description": "Gets the enrollment for a given enrollment id. Note, only enrollment id is supported, the award and plan-assigned enrollment types are not supported.",
        "parameters": [
          {
            "name": "enrollment-id",
            "in": "path",
            "description": "The enrollment id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeLTIRegistrations",
            "in": "query",
            "description": "Turn on to get LTI results information (Experimental)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The enrollment object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Enrollment is not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.read"]
          }
        ]
      },
      "patch": {
        "tags": ["Enrollments"],
        "summary": "Update an enrollment",
        "description": "Update an enrollment for a given enrollment id.",
        "parameters": [
          {
            "name": "enrollment-id",
            "in": "path",
            "description": "The enrollment id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Upate enrollment",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwardEnrollmentAttributes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The enrollment is updated",
            "content": {}
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Enrollment is not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/enrollments/{enrollment-id}/goal": {
      "post": {
        "tags": ["Enrollments"],
        "summary": "Link an existing enrolment to a goal",
        "description": "Update an enrollment for a given enrollment id.",
        "parameters": [
          {
            "name": "enrollment-id",
            "in": "path",
            "description": "The enrollment id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Link to a goal",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnrollmentGoal"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The enrollment is linked to a goal",
            "content": {}
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Enrollment is not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["enrollment.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/provider/enrollments": {
      "post": {
        "operationId": "EnrolmentsController_postProviderEnrolment",
        "summary": "Create or update an enrolment",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateEnrolmentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrolment has been created or updated"
          },
          "208": {
            "description": "Occurs when out-of-sync messages are found."
          },
          "400": {
            "description": "Occurs when there's a validation error that is failing to create/update an enrolment"
          },
          "401": {
            "description": "Occurs when the request Failed to retrieve token from request header, Failed to decode token, or Failed to parse JWT"
          },
          "403": {
            "description": "Insufficient roles for this resource"
          },
          "404": {
            "description": "Occurs when the learning object or the user is not found"
          },
          "413": {
            "description": "Occurs when there are too many accounts associated with the user id"
          },
          "500": {
            "description": "Occurs when a subsequent API call of Go1 internal services has fallen over"
          }
        },
        "tags": ["Enrollments"],
        "security": [
          {
            "OAuth2": ["enrollment.write"]
          }
        ]
      }
    },
    "/v2/learning-objects": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "List learning objects",
        "description": "Search for learning objects.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to start paging from. Offset + limit must not exceed 10,000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return. Maximum value is 50. Each endpoint has a default limit where applicable, so passing in\na value is recommended.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Filter by collection.",
            "schema": {
              "type": "string",
              "enum": ["default"]
            }
          },
          {
            "name": "content_group[]",
            "in": "query",
            "description": "Filter by content group",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "duration[min]",
            "in": "query",
            "description": "Filter by minimum duration in minutes. Will return learning objects with the specified\nduration or longer. Support multiple ranges: duration[0][min]=0&duration[0][max]=15&duration[1][min]=60.\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "duration[max]",
            "in": "query",
            "description": "Filter by maximum duration in minutes. Will return learning objects with the specified duration or shorter. Support multiple ranges: duration[0][min]=0&duration[0][max]=15&duration[1][min]=60.\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "event",
            "in": "query",
            "description": "Filter learning objects based on their events.\n\nAvailable values:\n* `true`: Only return learning objects with events.\n* `false`: Only return learning objects without events.\n* `all`: Return learning objects both with and without events.\n",
            "schema": {
              "type": "string",
              "enum": ["true", "false", "all"]
            }
          },
          {
            "name": "eventStartDate",
            "in": "query",
            "description": "Event start date in Unix timestamp format. Use to filter for learning objects with events starting at a specific time and date.\n\nExample: `1531785600`\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "eventEndDate",
            "in": "query",
            "description": "Event end date in Unix timestamp format. Use to filter for learning objects with events ending at a specific time and date.\n\nExample: `1531872000`\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "facets",
            "in": "query",
            "description": "Search facets to be returned.\n\nFormat: `facets=facet[,facet...]`\n\n#### Examples\n* `facets=language` -- the response will include a `facets` object containing a `language` object with information about the possible languages to filter on.\n* `facets=instance,tag` -- the response will include a `facets` object containing an `instance` object with information about the possible instances to filter on, and a `tag` object with information about the possible tags to filter on.\n",
            "schema": {
              "type": "string",
              "enum": ["instance", "language", "tag", "content_group", "topics"]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search a keyword",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language[]",
            "in": "query",
            "description": "Filter by language (and optionally locale).\n\nAccepts two-letter [ISO 639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) for languages in lowercase, and optionally two-letter [ISO 3166-1 alpha-2 codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) for countries in lowercase, separated by a hyphen.\n\n#### Examples\n* `language[]=hu` -- Only return learning objects whose language is Hungarian.\n* `language[]=en-gb` -- Only return learning objects whose language is English (United Kingdom).\n* `language[]=es&language[]=sv` -- Only return learning objects whose language is Spanish or Swedish.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "location[country][]",
            "in": "query",
            "description": "Only request learning objects that have one or more events that take place in a specific country.\n\nAccepts two-letter [ISO 3166-1 alpha-2 codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) for countries in uppercase.\n\nExample: `AU`\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "location[locality][]",
            "in": "query",
            "description": "Only request learning objects that have one or more events that take place in a specific town.\n\nExample: `Brisbane`\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "location[thoroughfare][]",
            "in": "query",
            "description": "Only request learning objects that have one or more events that take place at a specific address.\n\nExample: `64 Adelaide Street`\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "price[min]",
            "in": "query",
            "description": "Filter by minimum price. Will return learning objects with the specified\nprice or higher.\n\nThe value can be an integer or a floating-point number.\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price[max]",
            "in": "query",
            "description": "Filter by maximum price. Will return learning objects with the specified\nprice or lower.\n\nThe value can be an integer or a floating-point number.\n",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "providers",
            "in": "query",
            "description": "Filter by provider ID(s).\n\nTo retrieve provider IDs, first use a `?facets[]=instance&limit=0` query, and use the `$.facets.instance.buckets[*].key` values from the response.\n\n#### Examples\n* `providers=150` will return learning objects provided by provider `#150`\n* `providers=150,2000` will return learning objects provided by either provider `#150` or provider `#2000`\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort learning objects by one or more properties.\n\nFormat: `sort=key[:direction][,key[:direction]...]`\n\nAvailable sorting options:\n* `created`\n* `popularity`\n* `price`\n* `relevance`\n* `title`\n\n#### Examples\n* `sort=popularity` will sort by popularity, showing least popular learning objects first (since no direction is specified)\n* `sort=created:desc` will sort by creation date, showing most recent learning objects first\n* `sort=price:desc,title` will sort learning objects first by price in descending order, then by title in ascending order (since no direction is specified)\n",
            "schema": {
              "type": "string",
              "default": "title",
              "enum": ["created", "popularity", "price", "relevance", "title"]
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Filter by subscribed content.\n\nAvailable values:\n* `true`: Only return learning objects subscribed to.\n* `false`: Only return learning objects not subscribed to.\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subscribed[group][]",
            "in": "query",
            "description": "Filter by subscribed content groups. Will return learning objects are in these groups.\n\nThe value must be an integer number.\n\n#### Examples\n  * `subscribed[group][]=12345` will only return learning objects that are in portal's subscribe collection AND in content group #12345\n  * `subscribed[group][]=12345&subscribed[group][]=56789` will only return learning objects that are in portal's subscribe collection AND in content groups #12345, #56789 or both\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "tags[]",
            "in": "query",
            "description": "Filter by content tag(s).\n\n#### Usage\nUse the textual representation of the tags (not tag IDs).\n\n#### Examples\n* `tags[]=Agile` will only return learning objects that are tagged with `Agile`\n* `tags[]=Agile&tags[]=Business Skills` will return learning objects that are tagged with `Agile`, `Business Skills`, or both\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Fiter by one or multiple learning object types.\n\nFormat: `type=value[,value...]`\n\n#### Examples\n* `type=course` will only return courses\n* `type=learning_resource` will only return standalone learning resources, which are not part of any course or module (but not courses)\n* `type=course,video` will only return courses and videos\n",
            "schema": {
              "type": "string",
              "enum": [
                "assignment",
                "award",
                "course",
                "document",
                "event",
                "integration",
                "interactive",
                "lti",
                "question",
                "quiz",
                "text",
                "video"
              ]
            }
          },
          {
            "name": "topics[]",
            "in": "query",
            "description": "Filter by one or more topics",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "locale[]",
            "in": "query",
            "description": "#### DEPRECATED\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "provider[]",
            "in": "query",
            "description": "#### DEPRECATED\nSee `providers`.\n\n#### Examples\n* `provider[]=150` will return learning objects provided by provider `#150`\n* `provider[]=150&provider[]=2000` will return learning objects provided by either provider `#150` or provider `#2000`\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "id[]",
            "in": "query",
            "description": "Filter by Learning Object ID\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "entry_level[]",
            "in": "query",
            "description": "Filter by entry level(s) such as Advanced, Beginner, Intermediate or Suitable for everyone.\n\n#### Examples\n* `entry_level[]=Advanced` will only return learning objects that have entry level of `Advanced`\n* `entry_level[]=Advanced&entry_level[]=Suitable for everyone` will return learning objects that have entry level of `Advanced`, `Suitable for everyone`, or both\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "Return only items that have been updated after the given timestamp",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "includeCustomFields",
            "in": "query",
            "description": "Include custom LO fields.\n\nAvailable values:\n* `true`: Will return custom LO fields (custom_fields).\n* `false`: Will not return custom LO fields (custom_fields).\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "custom_attributes[attribute_name][]",
            "in": "query",
            "description": "Search for learning objects based on custom attribute values.\nAttribute names can be specified multiple times.\nAn OR search is performed for attributes of the same name and an AND search is performed\nfor attributes with a different name.\n",
            "example": "custom_attributes[custom_lo_name1][]=custom_lo_value1& custom_attributes[custom_lo_name2][]=custom_lo_value2",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "scroll",
            "in": "query",
            "description": "Enables a 1-minute window to iterate over the result set. Use this instead of `offset` when retrieving large data sets.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scrollId",
            "in": "query",
            "description": "A scroll ID returned by a previous request.\nTo use this, first send a request with `scroll=true`, and save the value of the `_scroll_id` property from the response.\nTo iterate, send `scroll=true` and `scrollId` with this value for each subsequent request.\nExtends the window by another minute.\n\nWill return an empty result set if the window has expired or a wrong scroll ID is passed in.\n\nAggregated data (facets) will not be included.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_decommissioned",
            "in": "query",
            "description": "Include decommissioned content.\n\nAvailable values:\n* `true`: decommissioned content only.\n* `false`: Exclude decommissioned content.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of learning objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningObjectsSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputErrorVerbose"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      },
      "post": {
        "operationId": "LearningObjectsController_postLearningObject",
        "summary": "Create a learning object",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateLinkLearningObject"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new learning object has been created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLearningObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Occurs when there's a validation error that is failing to create a learning object"
          },
          "401": {
            "description": "Occurs when the request \"Failed to retrieve token from request header\", \"Failed to decode token\", or \"Failed to parse JWT\""
          },
          "403": {
            "description": "Insufficient user permission for this resource"
          },
          "500": {
            "description": "Occurs when a subsequent call to an internal service has failed"
          }
        },
        "tags": ["Learning Content"]
      }
    },
    "/v2/learning-objects/{lo-id}": {
      "get": {
        "operationId": "getLearningObjectDetails",
        "tags": ["Learning Content"],
        "summary": "Get learning object details",
        "description": "Detailed information about a learning object (LO).\nThe schema of the object returned depends on the LO type.\nCourses contain modules under `items`, and modules contain learning items under `items`.\nLearning items themselves have no `items`.\n",
        "parameters": [
          {
            "name": "lo-id",
            "in": "path",
            "description": "Learning object ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeCustomFields",
            "in": "query",
            "description": "Include custom LO fields.\n\nAvailable values:\n* `true`: Will return custom LO fields (custom_fields).\n* `false`: Will not return custom LO fields (custom_fields).\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/learning-objects/source/{source_id}": {
      "patch": {
        "operationId": "LearningObjectsController_patchLearningObject",
        "summary": "Patch a learning object by source_id",
        "parameters": [
          {
            "name": "source_id",
            "required": true,
            "in": "path",
            "description": "A unique identifier assigned to the learning content by the caller when the learning content first gets created.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PatchLinkLearningObject"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The provided learning object has been successfully patched with the contents of the payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLearningObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Occurs when there's a validation error to update an LO lo"
          },
          "401": {
            "description": "Occurs when the request \"Failed to retrieve token from request header\", \"Failed to decode token\", or \"Failed to parse JWT\""
          },
          "403": {
            "description": "Insufficient roles for this resource"
          },
          "500": {
            "description": "Occurs when a subsequent API call of Go1 internal services has fallen over"
          }
        },
        "tags": ["Learning Content"]
      },
      "get": {
        "operationId": "LearningObjectsController_getLearningObject",
        "tags": ["Learning Content"],
        "summary": "Get a learning object by source_id",
        "parameters": [
          {
            "name": "source_id",
            "required": true,
            "in": "path",
            "description": "A unique identifier assigned to the learning content by the caller when the learning content first gets created.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "It successully returns the learning object mapped to the provided source_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLearningObjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Occurs when the request \"Failed to retrieve token from request header\", \"Failed to decode token\", or \"Failed to parse JWT\""
          },
          "403": {
            "description": "Insufficient roles for this resource"
          },
          "404": {
            "description": "Occurs when there's no LO found with the provided source_id"
          },
          "500": {
            "description": "Occurs when a subsequent API call of Go1 internal services has fallen over"
          }
        }
      }
    },
    "/v2/learning-objects/suggest/autocomplete": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Get autocomplete suggestion",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to query suggestions",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Agile"
            }
          },
          {
            "name": "limit[related]",
            "in": "query",
            "description": "Limit related search term suggestion items",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 3
            }
          },
          {
            "name": "limit[taxonomy]",
            "in": "query",
            "description": "Limit taxonomy suggestion items",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 3
            }
          },
          {
            "name": "limit[term]",
            "in": "query",
            "description": "Limit search term suggestion items",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 3
            }
          },
          {
            "name": "limit[title]",
            "in": "query",
            "description": "Limit learning object suggestion items",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 3
            }
          },
          {
            "name": "limit[topic]",
            "in": "query",
            "description": "Limit topic suggestion items",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningObjectSuggestionResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/learning-objects/{lo-id}/custom-attributes": {
      "patch": {
        "tags": ["Learning Content"],
        "summary": "Update learning object custom attributes",
        "description": "If custom attributes for learning objects have been set up on the portal, this endpoint can be used to update the values of those custom attributes.\n",
        "parameters": [
          {
            "name": "lo-id",
            "in": "path",
            "description": "Learning object ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Attributes to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LearningObjectCustomAttributesUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningObjectCustomAttributesResponse"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.write"]
          }
        ]
      }
    },
    "/v2/learning-objects/{lo-id}/preview": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Get preview URL for learning objects",
        "description": "Returns one or more URLs that can be embedded or directly used to preview a learning object.\n\nCan only be requested for learning objects whose `previewable` property equals `true`.\n",
        "parameters": [
          {
            "name": "lo-id",
            "in": "path",
            "description": "Learning object ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "redirect_url",
            "in": "query",
            "description": "After finishing the preview of a scrom file, the user will be redirected to this URL when it is provided",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Learning object preview URL options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewLinks"
                }
              }
            }
          },
          "400": {
            "description": "Learning object cannot be previewed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/learning-objects/{lo-id}/similar": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Get similar learning objects (Experimental)",
        "description": "Returns one or more learning objects which are similar to the LO provided. The schema of the object returned depends on the LO type.\n",
        "parameters": [
          {
            "name": "lo-id",
            "in": "path",
            "description": "Learning object ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "overrides",
            "in": "query",
            "description": "Elastic Search query params to override\nFormat: `overrides[must|should][]=attribute_name`\n#### Examples\n* `overrides[must][]=custom_fields.field_1` will only return LO's that match `custom_fields.field_1`.\n* `overrides[should][]=custom_fields.field_2` will return LO's that should match `custom_fields.field_2`.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Similar learning objects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LearningObjectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Learning object is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/learning-objects/{lo-id}/scorm": {
      "get": {
        "tags": ["Learning Content"],
        "summary": "Download learning object as a SCORM package",
        "description": "Download learning object as a SCORM package.",
        "parameters": [
          {
            "name": "lo-id",
            "in": "path",
            "description": "Learning object ID.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A SCORM package in a zip file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "Learning object not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["lo.read"]
          }
        ]
      }
    },
    "/v2/onboard": {
      "post": {
        "tags": ["Onboarding"],
        "summary": "Creates new portals",
        "description": "Creates a new portal as well as a new user account if one doesn't exist. If it does exist, the existing users access token has to be used to make this request. This request can be made with tokens required using the grant type \"client_credentials\"",
        "requestBody": {
          "description": "User, portal and customer details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardPortalCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Portal and users created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputErrorVerbose"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "409": {
            "description": "User already exists. Please use the user's OAuth-Token to perform this request.",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["portal.write"]
          }
        ],
        "x-codegen-request-body-name": "Request body"
      }
    },
    "/v2/partners/content-group": {
      "post": {
        "tags": ["Partners"],
        "summary": "Add content group to child portals",
        "description": "Allow partners to add a content group to their child portal",
        "requestBody": {
          "description": "Content group to add",
          "content": {
            "application/json": {
              "schema": {
                "required": ["child_portal_id", "content_group_id"],
                "type": "object",
                "properties": {
                  "child_portal_id": {
                    "type": "integer",
                    "description": "Partner child portal ID."
                  },
                  "content_group_id": {
                    "type": "integer",
                    "description": "Content group ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Portal and content group linked"
          },
          "400": {
            "description": "Error with supplied parameters."
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["portal.write"]
          }
        ],
        "x-codegen-request-body-name": "Request body"
      },
      "delete": {
        "tags": ["Partners"],
        "summary": "Remove content group from child portals",
        "description": "Allow partners to remove a content group from their child portal",
        "requestBody": {
          "description": "Content group to remove",
          "content": {
            "application/json": {
              "schema": {
                "required": ["child_portal_id", "content_group_id"],
                "type": "object",
                "properties": {
                  "child_portal_id": {
                    "type": "integer",
                    "description": "Partner child portal ID."
                  },
                  "content_group_id": {
                    "type": "integer",
                    "description": "Content group ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Portal and content group un-linked"
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidInputError"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["portal.write"]
          }
        ],
        "x-codegen-request-body-name": "Request body"
      }
    },
    "/v2/me": {
      "get": {
        "tags": ["Users"],
        "summary": "Authenticated user details",
        "description": "Information about the authenticated user",
        "responses": {
          "200": {
            "description": "Information about the authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "404": {
            "description": "User not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["user.read"]
          }
        ]
      },
      "patch": {
        "tags": ["Users"],
        "summary": "Update authenticated user details",
        "description": "Update information about the authenticated user",
        "requestBody": {
          "description": "Fields that are to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSelfUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated user object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "User has suppled invalid params",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CurrentPasswordInvalid"
                    },
                    {
                      "$ref": "#/components/schemas/PasswordInvalid"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "404": {
            "description": "User not found",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["user.write"]
          }
        ]
      }
    },
    "/v2/me/login": {
      "post": {
        "tags": ["Users"],
        "summary": "Generate login link",
        "description": "Generate a single use login URL for the authenticated user.",
        "parameters": [
          {
            "name": "redirect_url",
            "in": "query",
            "description": "Redirect path after login. Relative to portal domain.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A redirect URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserLogin"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {}
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["user.login.me"]
          }
        ]
      }
    },
    "/v2/users": {
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "Retrieves a list of users filtered by the given search criteria",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to start paging from. Offset + limit must not exceed 10,000.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return. Maximum value is 50. Each endpoint has a default limit where applicable, so passing in\na value is recommended.\n",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "First Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "Last Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "E-mail",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roles[]",
            "in": "query",
            "description": "Roles",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Administrator",
                  "Learner",
                  "Assessor",
                  "Manager",
                  "Content administrator"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of user objects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["user.read"]
          }
        ]
      },
      "post": {
        "tags": ["Users"],
        "summary": "Create new user",
        "description": "Will create a new user. An email will be sent to the user for them to login and set their password.",
        "requestBody": {
          "description": "User to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created user object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Error with supplied parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized. Either the JWT does not have sufficient permissions or a password was provided with an existing email.",
            "content": {}
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": ["user.write"]
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v2/users/{user-id}": {
      "get": {
        "tags": ["Users"],
        "summary": "Get user details",
        "description": "Get the user record",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "User identifier number.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "User is unauthenticated",
            "content": {}
          },
          "403": {
            "description": "User is not authorized",
            "content": {}
          },
          "404": {
            "description": "User not found",
            "content": {}
[...]
